<ul class="nav nav-tabs nav-justified">
  <li class='<%= 'active' if params[:tab].nil? %>'>
		<%= link_to "Photos", user_path(@user) %>
	</li>
	<li class='<%= 'active' if params[:tab] == 'tagged' %>'>
	   <%= link_to "Photos of #{@user.username}", user_path(@user, tab: 'tagged') %>
	</li>
</ul>


<% if params[:tab] == 'tagged' %>
  <div class="row photo-gallery">
    <% @user.tagged_photos.each do |photo| %>
      <div class="photo-box">
        <figure>
          <%= link_to image_tag(photo.photo.url), user_photo_path(photo.user, photo)  %>
          <figcaption><%= photo.name %></figcaption>
        </figure>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row photo-gallery">
    <% @photos.each do |photo| %>
      <div class="photo-box">
        <figure>
          <%= link_to image_tag(photo.photo.url), user_photo_path(@user, photo)  %>
          <figcaption><%= photo.name %></figcaption>
        </figure>
      </div>
    <% end %>
  </div>
<% end %>
